<html>
<style>
    body{
        font-family:Arial;
    }
    li {
        background: #f3e5f5;
        list-style:none;
        display:block;
        width:100%;
        float:left;
        padding: 5px
        border-bottom: 1px solid black;
    }
    li:nth-child(odd) { background: #c0b3c2; }
</style>
<meta http-equiv="refresh" content="5; URL=http://localhost:8080">
<form action="/" method="post">
    {{ with .SourcesNames }}
    <ul>
        {{range .}}
        <li>
            <h5>{{.}}</h5>
        </li>
        {{end}}
    </ul>
    {{ end }}
    {{ with .Stories}}
    <ul>
        {{range .}}
            {{if not .Processed}}
                <li>
                    <h2>{{.Title}}</h2><h3>{{.Source}}</h3>{{.Description}} {{.Date}}
                    <a href="{{.Link}}">story</a>
                    <p>{{.Summary}}</p>
                    <button name="title" type="submit" value="{{.Title}}">Processed</button>
                </li>
            {{ end }}
        {{end}}
    </ul>
    {{end}}
</form>
</html>